$dimensions: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
) ;

/*
========================================================================================================================
The Custom Classes For Handling Flex
========================================================================================================================
*/
.flex-1{
  flex:1
}
.flex {
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-col-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}
.items-start {
  align-items: flex-start !important;
}

.items-end {
  align-items: flex-end !important;
}

.items-center {
  align-items: center !important;
}

.items-baseline {
  align-items: baseline !important;
}

.items-stretch {
  align-items: stretch !important;
}


/*
========================================================================================================================
The Custom Classes For Handling Padding , Margins , Gapping
========================================================================================================================
*/
@each $key, $value in $dimensions {
  .gap-#{$key} {
    gap: #{$value} !important;
  }
  .gap-x-#{$key} {
    column-gap: #{$value} !important;
  }
  .gap-y-#{$key} {
    row-gap: #{$value} !important;
  }
}
@each $key, $value in $dimensions {
  .p-#{$key} {
    padding: #{$value} !important;
  }
  .pt-#{$key} {
    padding-top: #{$value} !important;
  }
  .pr-#{$key} {
    padding-right: #{$value} !important;
  }
  .pb-#{$key} {
    padding-bottom: #{$value} !important;
  }
  .pl-#{$key} {
    padding-left: #{$value} !important;
  }
  .px-#{$key} {
    padding-left: #{$value} !important;
    padding-right: #{$value} !important;
  }
  .py-#{$key} {
    padding-top: #{$value} !important;
    padding-bottom: #{$value} !important;
  }
}
@each $key, $value in $dimensions {
  .m-#{$key} {
    margin: #{$value} !important;
  }
  .mt-#{$key} {
    margin-top: #{$value} !important;
  }
  .mr-#{$key} {
    margin-right: #{$value} !important;
  }
  .mb-#{$key} {
    margin-bottom: #{$value} !important;
  }
  .ml-#{$key} {
    margin-left: #{$value} !important;
  }
  .mx-#{$key} {
    margin-left: #{$value} !important;
    margin-right: #{$value} !important;
  }
  .my-#{$key} {
    margin-top: #{$value} !important;
    margin-bottom: #{$value} !important;
  }
}

/*
========================================================================================================================
The Custom Classes For Handling Grid Classes
========================================================================================================================
*/

@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr)) !important;
  }
}
@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i} !important;
  }
}

/*
========================================================================================================================
The Custom Classes For Handling Display Classes
========================================================================================================================
*/

.grid{
  display: grid !important;
}
.block{
  display: block !important;
}
.inline{
  display: inline !important;
}


/*
========================================================================================================================
The Custom Classes For Text Colors
========================================================================================================================
*/
$colors: (
  white: var(--white),
  black: var(--black),
  navbar-border:var(--navbar-border),
  navigation-link:var(--navigation-link),
  footer-bg:var(--footer-bg),
  footer-text:var(--footer-text),
  form-input:var(--form-input),
  input-border:var(--input-border),
  sign-in-btn:var(--sign-in-btn),
  danger:var(--danger),
  category:var(--category),
  gold-yellow:var(--gold-yellow),

);
@each $key, $value in $colors {
  .text-#{$key} {
    color: #{$value} !important;
  }
  .bg-#{$key} {
    background: #{$value} !important;
  }

}

/*
========================================================================================================================
The Custom Classes For Text Sizes & Weight
========================================================================================================================
*/
@for $i from 1 through 100 {
  .font-size-#{$i}px {
    font-size: #{$i}px !important;
  }
}
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: #{$i * 100} !important;
  }
}

/*
========================================================================================================================
The Custom Classes For Height & Width
========================================================================================================================
*/
.w-full {
  width: 100% !important;
}
.h-full{
  height: 100% !important;
}
.w-full-screen{
  width: 100vw !important;
}
.h-full-screen{
  height: 100vh !important;
}


/*
========================================================================================================================
The Custom Classes For General
========================================================================================================================
*/
.cursor-pointer{
  cursor: pointer !important;
}
.line-through{
  text-decoration: line-through !important;
}
.badge {
  padding:0.2em 1em !important;
  border: 1px solid var(--sign-in-btn) !important;
  border-radius: 4px !important;
  font-weight: 700 !important;
  font-size: 12px !important;
}
.badge-primary {
  background-color: var(--sign-in-btn) !important;
}
.relative {
  position: relative !important;
}
.capitalize{
  text-transform: capitalize !important;
}
.fi{
  display: flex;
}
/*
========================================================================================================================
The Custom Classes For border
========================================================================================================================
*/
@for $i from 1 through 100 {
  .border-#{$i}px {
    border-radius: #{$i}px !important;
  }
}
