:root{
  --navbar-border:#424242;
  --navigation-link:#667085;
  --footer-bg:#1D2939;
  --footer-text:#98A2B3;
  --white:#fff;
  --black:#101828;
  --form-input:#344054;
  --input-border:#D0D5DD;




}
