.custom-message{
  padding: 1em;
  border-radius: 8px;
  max-width: 300px;
  margin-bottom: 1em;
  width: 300px;
  background: #e4f8f0;
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
