.categoryWrapper{
  border: 1px solid var(--navbar-border);
  border-radius: 8px;
  height: fit-content;
}
.singleProduct{
  border: 1px solid var(--navbar-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: space-between;
   .productImage{
    img{
      width: 100%;
      max-height: 300px;
      min-height: 300px;
      object-fit: contain;
    }
   }


}
.productDiscount{
  position: absolute;
    top: 1em;
    left: 1em;
}
@media screen and (max-width:600px) {
  .col-span-2 {
    grid-column: span 12 / span 12 !important;
  }
  .col-span-10 {
    grid-column: span 12 / span 12 !important;
  }
  .col-span-4 {
    grid-column: span 12 / span 12 !important;
  }
}
@media screen and (min-width:600px) {
  .col-span-2 {
    grid-column: span 12 / span 12 !important;
  }
  .col-span-10 {
    grid-column: span 12 / span 12 !important;
  }
  .col-span-4 {
    grid-column: span 12 / span 12 !important;
  }
}
@media screen and (min-width:768px) {
  .col-span-2 {
    grid-column: span 3 / span 3 !important;
  }
  .col-span-10 {
    grid-column: span 9 / span 9 !important;
  }
  .col-span-4 {
    grid-column: span 6 / span 6 !important;
  }
}
@media screen and (min-width:992px) {
  .col-span-2 {
    grid-column: span 3 / span 3 !important;
  }
  .col-span-10 {
    grid-column: span 9 / span 9 !important;
  }
  .col-span-4 {
    grid-column: span 4 / span 4 !important;
  }
}

